.main-color {
  background-color: #e3f2fd !important;
}

.color-service {
  background-color: #1eb5da;
}

.hovered-card {
  transition: 0.3s;
}

.hovered-card:hover {
  transform: scale(1.1);
}

.content-subscribe {
  background-color: rgba(0, 0, 0, 0.7);
}

.margin-top-banner {
  margin-top: 67px;
}

button {
  /* Variables */
  --button_radius: 0.75em;
  --button_color: #1eb5da;
  /* --button_outline_color: #000000; */
  font-size: 17px;
  font-weight: bold;
  border: none;
  border-radius: var(--button_radius);
  background: var(--button_outline_color);
}

.button_top {
  box-shadow: 2px 3px black !important;
  margin-top: 6vh;
  display: block;
  box-sizing: border-box;
  border: 2px solid var(--button_outline_color);
  border-radius: var(--button_radius);
  padding: 0.75em 1.5em;
  background: var(--button_color);
  color: var(--button_outline_color);
  transform: translateY(-0.2em);
  transition: transform 0.1s ease;
}

button:hover .button_top {
  /* Pull the button upwards when hovered */
  transform: translateY(-0.33em);
}

button:active .button_top {
  /* Push the button downwards when pressed */
  transform: translateY(0);
}

.icon-service {
  width: 90px;
  height: 90px;
  border: solid black 2px;
  border-radius: 50%;
  color: #fff;
  background-image: url();
}

/* Button Top */
.to-top {
  background: black;
  position: fixed;
  bottom: 16px;
  right: 32px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  color: white;
  text-decoration: none;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s;
  z-index: 999;
}

.to-top.active {
  bottom: 32px;
  pointer-events: auto;
  opacity: 1;
}

/* preloader */
.loader_bg {
  position: fixed;
  z-index: 999999;
  background-color: #fff;
  width: 100%;
  height: 100%;
}

.loader {
  border: 0 solid transparent;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  position: absolute;
  top: calc(50vh - 75px);
  left: calc(115vh - 95px);
}

.loader:before,
.loader:after {
  content: "";
  border: 1em solid #ff5733;
  border-radius: 50%;
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  animation: loader 2s linear infinite;
  opacity: 0;
}
.loader:before {
  animation-delay: 0.5s;
}
@keyframes loader {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
