.margin-katalog {
  margin-top: 100px;
  color: #666666;
  font-size: 40px;
  margin-right: 100px;
}

.konten {
  margin-left: 60px;
}

span {
  color: #666666;
  opacity: 90%;
}

.hover-facebook:hover {
  color: blue;
}
.hover-twitter:hover {
  color: #00ffff;
}
.hover-instagram:hover {
  color: #8a2be2;
}
.hover-youtube:hover {
  color: red;
}

.margin-footer {
  margin-top: 180px;
}

.size-judul {
  font-size: 60px;
  font-weight: bold;
}

/* Bagian Button */
button {
  font-size: 18px;
  color: black;
  font-family: inherit;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

button:focus,
button:hover {
  color: burlywood;
}

button:focus:after,
button:hover:after {
  width: 100%;
  left: 0%;
}

button:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: black;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

.margin-contact {
  margin-left: 30px;
}

/* Button Top */
.to-top {
  background: black;
  position: fixed;
  bottom: 16px;
  right: 32px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  color: white !important;
  text-decoration: none;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s;
  z-index: 999;
}

.to-top.active {
  bottom: 32px;
  pointer-events: auto;
  opacity: 1;
}
